/* @font-collection  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* @font-collection  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #FFF9F4;
}
.logo img{
    Width :291.11px;
    Height: 39.27px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}
.head-image{
    width: 470px;
}
.my-btn{
    padding: 10px 35px;
    font-size: 18px ;
    background-image: linear-gradient(to right, #3D4FF3, #3543BC);
}
.formal-shoes
{
    margin-top: 48px;
}

.section-title{
    font-size: 38px;
    margin-bottom: 28px;
}
.my-card
{
    border-radius: 20px;
    padding: 18px;
}
.card-img
{


    border-radius: 18px;
}
.card-img img{
    width: 236px;
    height: 236px;
}
.horizental-card{
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
}
.horizental-card img
{ 
    width: 72px;
    height: 67px;
}
.toggole-btn{
    box-shadow: none !important;
    background: #4d4d4d;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    margin-right: 20px;
}
.toggole-btn:hover
{
    color: white;
}
.modal-img{
    width: 200px;
    display: block;
}
@media screen and (max-width:668px) {
    .logo img{
        Width :221.11px;
        Height: 39.27px;
    }
    ul{
        margin-top: 30px;
    }
}
